---
import { getCollection } from "astro:content";
import { PUBLISHED_STATUS } from "~/constants/publishedStatus";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Card from "~/components/Card.astro";

/**
 * 公開または下書きのpostだけを取得
 */
const posts = await getCollection("posts", ({ data }) => {
  return data.status !== PUBLISHED_STATUS.PRIVATE;
});

/**
 * 公開日時が新しい順でソート
 */
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime();
});
---

<BaseLayout title="ブログ一覧">
  <ul
    class="bg-base grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-4 p-4"
  >
    {
      sortedPosts.map((post) => {
        const { title, publishedAt, categories, thumbnail, status } = post.data;

        return (
          <li>
            <Card
              slug={post.slug}
              title={title}
              publishedAt={publishedAt}
              categories={categories}
              thumbnail={thumbnail}
              status={status}
            />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
