---
import { getCollection } from "astro:content";
import { PUBLISHED_STATUS } from "~/constants/publishedStatus";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Card from "~/components/Card.astro";

const posts = await getCollection("posts");
---

<BaseLayout title="ブログ一覧">
  <ul
    class="bg-base grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-4 p-4"
  >
    {
      posts.map((post) => {
        const { title, publishedAt, categories, thumbnail, status } = post.data;

        if (status.includes(PUBLISHED_STATUS.PRIVATE)) return null;

        return (
          <li>
            <Card
              slug={post.slug}
              title={title}
              publishedAt={publishedAt}
              categories={categories}
              thumbnail={thumbnail}
              status={status}
            />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
