---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Prose from "./Prose.astro";
import Categories from "./Categories.astro";
import type { Category } from "~/constants/categories";
import GithubCard from "./GithubCard.astro";
import {
  PUBLISHED_STATUS,
  type PublishedStatus,
} from "~/constants/publishedStatus";
import { Icon } from "astro-icon/components";

type Props = {
  title: string;
  publishedAt: Date;
  categories: Category[];
  thumbnail?: string;
  githubUrl?: string;
  content: AstroComponentFactory;
  headings?: {
    depth: number;
    slug: string;
    text: string;
  }[];
  status: PublishedStatus;
};

const {
  title,
  publishedAt,
  categories,
  thumbnail,
  githubUrl,
  content,
  status,
} = Astro.props;
---

<article class="order-2 grid grid-cols-1 p-4 lg:order-1 lg:p-8">
  <header class="mb-8 space-y-4">
    <h1
      class="lg:text-heading-first text-[28px] font-semibold"
      style="word-break: auto-phrase;"
    >
      {title}
    </h1>

    <span class="text-meta text-small inline-block">
      {publishedAt.toISOString().split("T")[0]}
    </span>

    <div class="flex items-center gap-2 space-x-2">
      <a
        href="https://github.com/k-ito-cat"
        class="text-primary ease rounded no-underline transition-colors duration-300"
      >
        <Icon name="octicon:mark-github-16" width="24" height="24" />
      </a>
    </div>

    <Categories categories={categories} />

    {
      thumbnail && (
        <img
          class="block h-auto max-h-[600px] w-full rounded-md object-cover shadow-[0_2px_10px_rgba(0,0,0,0.5)]"
          src={thumbnail}
          alt={title}
          width={1200}
          height={600}
        />
      )
    }

    {githubUrl && <GithubCard url={githubUrl} />}

    {
      status.includes(PUBLISHED_STATUS.DRAFT) ? (
        <p class="mt-4">
          この投稿は下書き状態です。公開されるまでお待ちください。
        </p>
      ) : (
        <>
          <Prose content={content} />

          <footer class="border-tag mt-8 flex flex-col gap-4 border-t pt-4">
            <div class="flex items-center gap-2 text-[0.9rem]">
              <span>シェア（TODO）:</span>
              <a
                href="#twitter"
                class="text-primary bg-tag ease hover:bg-tag-hover rounded px-[0.6rem] py-[0.3rem] no-underline transition-colors duration-300"
              >
                X
              </a>
            </div>
          </footer>
        </>
      )
    }
  </header>
</article>

<style is:global>
  h2,
  h3 {
    scroll-margin-top: 18px;
  }

  .scroll {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
</style>
