---
import {
  PUBLISHED_STATUS,
  type PublishedStatus,
} from "~/constants/publishedStatus";
import type { Category } from "~/constants/categories";

interface Props {
  slug: string;
  title: string;
  thumbnail?: string;
  categories: Category[];
  publishedAt: Date;
  status: PublishedStatus;
}

const { slug, title, thumbnail, publishedAt, status } = Astro.props;
---

<article
  class="ease relative flex h-full flex-col overflow-hidden transition duration-300 hover:translate-y-[-2px] hover:shadow-lg"
>
  <a href={`/blog/${slug}`}>
    {
      status.includes(PUBLISHED_STATUS.DRAFT) && (
        <div class="bg-base text-small absolute top-0 right-0 z-10 px-2 py-1 text-white">
          下書き
        </div>
      )
    }
    {
      thumbnail && (
        <img
          class="block h-auto max-h-[300px] w-full object-cover lg:max-h-[200px]"
          src={thumbnail}
          alt={title}
          width="1200"
          height="630"
        />
      )
    }
  </a>
  <div class="text-text-light flex h-full flex-col justify-between gap-2 p-4">
    <a class="h-full" href={`/blog/${slug}`}>
      <h2 class="m-0 text-[1.2rem] font-semibold">{title}</h2>
    </a>

    <div class="flex items-center justify-between">
      <span class="text-text-muted text-[0.85rem]">
        {new Date(publishedAt).toISOString().split("T")[0]}
      </span>
    </div>
  </div>
</article>
