---
import {
  PUBLISHED_STATUS,
  type PublishedStatus,
} from "~/constants/publishedStatus";

interface Props {
  slug: string;
  title: string;
  thumbnail?: string;
  categories?: string[];
  publishedAt: Date;
  status: PublishedStatus;
}

const { slug, title, thumbnail, categories, publishedAt, status } = Astro.props;
---

<a href={`/blog/${slug}`}>
  <article
    class="ease relative flex flex-col overflow-hidden rounded-lg bg-[var(--background-color-card)] shadow-[0_4px_15px_rgba(0,0,0,0.7)] transition duration-300 hover:-translate-y-1 hover:shadow-[0_8px_20px_rgba(0,0,0,0.8)]"
  >
    {
      status.includes(PUBLISHED_STATUS.DRAFT) && (
        <div class="absolute bg-base top-0 right-0 z-10  px-2 py-1 text-small text-white">
          下書き
        </div>
      )
    }
    {
      thumbnail && (
        <img
          class="block h-auto max-h-[300px] w-full object-cover lg:max-h-[200px]"
          src={thumbnail}
          alt={title}
          width="1200"
          height="630"
        />
      )
    }
    <div class="flex flex-col gap-2 p-4 text-[#f0f0f0]">
      <h2 class="m-0 text-[1.2rem] font-semibold">{title}</h2>

      {
        categories && categories.length > 0 && (
          <ul class="flex flex-wrap gap-2">
            {categories.map((category) => (
              <li class="bg-tag text-small rounded-sm px-2 py-1">{category}</li>
            ))}
          </ul>
        )
      }

      <div class="flex items-center justify-between">
        <span class="text-[0.85rem] text-[#999999]">
          {new Date(publishedAt).toISOString().split("T")[0]}
        </span>
      </div>
    </div>
  </article>
</a>
